@import "tailwindcss";


@theme {
  --color-primary: #9333ea;

  --color-background: #080E14;
  --color-background-header: #0f111a;
  --color-card: #1E293B;

  --color-outline: #64748b;

  --color-primary-foreground: #F1F5F9;/*texto principal*/
  --color-secondary-foreground: #94A3B8; /*texto secundário*/

  /*shadcn-like*/
  --color-foreground: #F1F5F9;
  --color-muted-foreground: #64748B;
  --color-muted: #334155;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}